body {
  background-color: rgb(17, 4, 10);
  text-align: justify;
  line-height: 2.5;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 3px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(216, 150, 255);
  padding-top: 40px;
}

em {
  color: rgb(231, 231, 0);
}

strong {
  color: lightgreen;
}

strong > em,
em > strong {
  color: rgb(252, 140, 60);
}

mark {
  background-color: rgb(255, 41, 148);
  padding-left: 3px;
  padding-right: 3px;
  color: white;
}

a {
  color: aqua;
  text-decoration-line: underline;
  text-underline-offset: 30%;
  font-style: italic;
  text-transform: capitalize;
}
