body {
  margin: 10px;
  padding: 0;
}

.txt {
  border: 2px solid red;
  width: 500px;
  padding: 8px;
}

.fz-1 {
  font-size: smaller;
}
.fz-2 {
  font-size: smaller;
}
.fz-3 {
  font-size: smaller;
}
.fz-4 {
  font-size: medium;
}
.fz-5 {
  font-size: larger;
}
.fz-6 {
  font-size: larger;
}
.fz-7 {
  font-size: larger;
}
.fz-8 {
  font-size: larger;
}
