body {
  --background-primary: rgb(17, 4, 10);
  --line-height-normal: 2.2;
  --h1-color: rgb(216, 150, 255);
  --h2-color: rgb(216, 150, 255);
  --h3-color: rgb(216, 150, 255);
  --h4-color: rgb(216, 150, 255);
  --h5-color: rgb(216, 150, 255);
  --h6-color: rgb(216, 150, 255);
  --link-color: lightblue;
  --italic-color: rgb(231, 231, 0);
  --bold-color: lightgreen;
  --code-background: rgb(11, 45, 98);
  --code-property: darkorange;
  --code-normal: rgb(235, 235, 235);
  --list-spacing: 12px;
  --code-size:1em;
}

.token.unit {
  color: rgb(255, 51, 255);
}

.markdown-rendered code {
  font-size: 1.2em
}

.myCode {
  color: GhostWhite;
  background-color: #400080;
  padding: 3px 6px;
  font-family: "JetBrains Mono";
}

.cm-property {
  color: darkorange;
  font-style: italic;
}

.token.property {
  font-family: "JetBrains Mono";
  font-style: italic;
}

.cm-header-1 {
  font-size: 1.6em;
}

/* reading mode */
.markdown-preview-view p {
	text-align: justify;
	text-justify: inter-word;
	letter-spacing: 2.3px;	
}

/* source view and live preview */
.markdown-source-view.mod-cm6 .cm-line {
	text-align: justify;
	text-justify: inter-word;	
	letter-spacing: 2.3px;

}

.markdown-source-view.mod-cm6 .callout-title {
	margin-bottom: 16px;
}

.markdown-source-view.mod-cm6 .math {
	font-size: 1.5em;
}

a.internal-link {
    text-underline-offset: 0.5em;
}

/* reading mode */
.image-embed[alt]:after {
    content: attr(alt);
    display: block;
    margin: 0.2rem 1rem 1rem 1rem;
    font-size: 90%;
    line-height: 1.4;
    color: var(--text-faint);
    text-align: center;

}
/* source view and live preview */
.image-embed[alt]:after {
    content: attr(alt);
    display: block;
    margin: 0.2rem 1rem 1rem 1rem;
    font-size: 90%;
    line-height: 1.4;
    color: var(--text-faint);
    text-align: center;
}

img {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
}
    
 .markdown-source-view.mod-cm6 .cm-content > * {
        margin: auto auto !important;
}


/* LEVEL 1 */
.markdown-reading-view ul > li > .list-bullet:after,
.markdown-source-view.mod-cm6 .HyperMD-list-line-1 .list-bullet:after {
/* Bullet */
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--bullet-new-color);
} 

/* LEVEL 2 */
.markdown-reading-view ul > li > ul > li > .list-bullet:after,
.markdown-source-view.mod-cm6 .HyperMD-list-line-2 .list-bullet:after {
/* Dash */
    height: 1px;
    width: 7px;
    border-radius: 0%;
    background-color: var(--bullet-new-color);
} 

/* LEVEL 3 */
.markdown-reading-view ul > li > ul > li > ul > li > .list-bullet:after,
.markdown-source-view.mod-cm6 .HyperMD-list-line-3 .list-bullet:after {
/* Hollow Bullet */
    height: 4px;
    width: 4px;
    background-color: Transparent;
    border-color: var(--bullet-new-color);
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
} 

/* LEVEL 4 */
.markdown-reading-view ul > li > ul > li > ul > li > ul > li > .list-bullet:after,
.markdown-source-view.mod-cm6 .HyperMD-list-line-4 .list-bullet:after {
/* Solid Square */
    height: 5px;
    width: 5px;
    border-radius: 0%;
    background-color: var(--bullet-new-color);
} 

/* LEVEL 5 */
.markdown-reading-view ul > li > ul > li > ul > li > ul > li > ul > li > .list-bullet:after,
.markdown-source-view.mod-cm6 .HyperMD-list-line-5 .list-bullet:after {
/* Dash */
    height: 1px;
    width: 7px;
    border-radius: 0%;
    background-color: var(--bullet-new-color);
} 

/* LEVEL 6 */
.markdown-reading-view ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > .list-bullet:after,
.markdown-source-view.mod-cm6 .HyperMD-list-line-6 .list-bullet:after {
/* Hollow Square */
    height: 4px;
    width: 4px;
    background-color: Transparent;
    border-color: var(--bullet-new-color);
    border-style: solid;
    border-radius: 0%;
    border-width: 1px;
} 

/* LEVEL 7 */
.markdown-reading-view ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > .list-bullet:after,
.markdown-source-view.mod-cm6 .HyperMD-list-line-7 .list-bullet:after {
/* Small Bullet */
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background-color: var(--bullet-new-color);
} 

/* bullet color */
:root { --bullet-new-color: rgb(89,89,223);}


.color-rec {
	width: 100px;
	height: 20px;
	border: 1px solid white;
}


















